extends layout

block variables
    script(src='/javascripts/anime_switcher.js', async)
    title="Search Engine"

block content
    div(class="left-button-container")
        button(onclick="PreviousAnime()") Previous
    div(class="body-container")
        div(class="video-name")
            h1(id="video-name-english")
        div(class="video-body")
            div(class="video-body--video")
                video(id="video_player", autoplay, controls)
                    source(id="video_source" src='', type='video/mp4')
                    | Your browser does not support the video tag.
            div(class="group-up")
                div(class="video-body--description")
                    h3 Description
                    a(id="description")
                div(class="video-body--stars")
                    h3 Rating
                    a(id="rating")
        div(class="video-name")
            h2(id="video-name-japanese")

    div(class="right-button-container")
        button(onclick="NextAnime()") Next

